body {
  margin: auto;
}

.navText {
  color: blue;
}

.imageCell {
  display: inline;
  margin: 10px;
}

.image {
  cursor: pointer;
}

.single-photo {
  width: 100%;
}

.allPhotos {
  width: 244px;
  height: 244px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5);
  column-gap: 10px;
  row-gap: 10px;
}
